<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Home</title>
    <th:block th:replace="~{fragments/home/index.html :: headerFiles}">
    </th:block>
</head>
<body class="index-page">

    <!-- Header -->
    <header th:replace="~{fragments/home/index.html :: page-header}"></header>

    <!-- Main - layout:fragment -->
    <div layout:fragment="content"></div>

    <!-- Footer -->
    <footer th:replace="~{fragments/home/index.html :: page-footer}"></footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script th:src="@{/assets/home/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/home/vendor/php-email-form/validate.js}"></script>
    <script th:src="@{/assets/home/vendor/aos/aos.js}"></script>
    <script th:src="@{/assets/home/vendor/glightbox/js/glightbox.min.js}"></script>
    <script th:src="@{/assets/home/vendor/purecounter/purecounter_vanilla.js}"></script>
    <script th:src="@{/assets/home/vendor/swiper/swiper-bundle.min.js}"></script>

    <!-- Main JS File -->
    <script th:src="@{/assets/home/js/main.js}"></script>

    <!-- jQuery 3 -->
    <script th:src="@{/assets/admin/js/jquery.min.js}"></script>
    <script th:src="@{/assets/admin/js/bootstrap.min.js}"></script>


</body>
</html>