<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        function getAllUsers() {
            $.ajax({
                type: "GET",
                url: "http://localhost:8585/api/users",
                success: function (data) {
                    display(data);
                }
            })
        }

        function getAllStudents() {
            $.ajax({
                type: "GET",
                url: "http://localhost:8585/api/student",
                success: function (data) {
                    console.log(data)
                    display(data.content)
                }
            })
        }

        function display(data) {
            let res = ""
            for (let i=0; i<data.length; i++) {
                res += data[i].userName + "<br>";
            }
            document.getElementById("display").innerHTML = res;
        }

    </script>
</head>
<body>
    <button onclick="getAllUsers()">Hien thi danh sach users</button>
    <button onclick="getAllStudents()">Hien thi danh sach students</button>
<div id="display"></div>
</body>
</html>